<div > <!--class="ptcontainer"-->
    <!-- batting details -->
    <div>
        <h4 class="bg-dark my-2 p-2 text-white">Batting - {{inningData.battingTeam}}</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-light">
            <tr>
                <th>Batter</th>
                <th>WH</th>
                <th>R</th>
                <th>B</th>
                <th>4s</th>
                <th>6s</th>
                <th>SR</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let batsman of inningBatters" >
                <td>{{ batsman.playerName }} {{batsman.playerSurName}}</td>
                <td>{{ batsman.wicketStatus}}</td>
                <td>{{ batsman.playerRun }}</td>
                <td>{{ batsman.playerBall }}</td>
                <td>{{ batsman.playerFour }}</td>
                <td>{{ batsman.playerSix }}</td> 
                <td>{{ batsman.playerStrikeRate }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- fall of wicket  -->
    <div>
        <h3 class="bg-dark my-2 p-2 text-white">Fall of Wicket</h3>

    </div>

    <!-- bowling details -->
    <div>
        <h4 class="bg-dark my-2 p-2 text-white">Bowling - {{inningData.bowlingTeam}}</h4>
        <table class="table table-striped table-bordered">
            <thead class="bg-light">
            <tr>
                <th>Bowler</th>
                <th>O</th>
                <th>M</th>
                <th>R</th>
                <th>W</th>
                <th>NB</th>
                <th>WD</th>
                <th>ECO</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bowler of inningBowlers" >
                <td>{{ bowler.playerName }} {{bowler.playerSurName}}</td>
                <td>{{ bowler.playerOvers }}</td>
                <td>{{ bowler.playerMiddenOver }}</td>
                <td>{{ bowler.playerRun }}</td>
                <td>{{ bowler.playerWicket }}</td>
                <td>{{ bowler.playerNoball }}</td> 
                <td>{{ bowler.playerWide }}</td> 
                <td>{{ bowler.playerEco }}</td> 
            </tr>
            </tbody>
        </table>
    </div>

    <div class="addScore">
        <div class="card">
            <h5 class="card-header">Over </h5>
            <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                    <h5>Run : </h5>
                    <button type="button" class="btn-primary">Add</button>
                </div>
                <!-- <h6 class="bg-body-tertiary p-2 border-top border-bottom">Matches</h6> -->
                <div class="">
                    <div class=" py-2 border-top border-bottom" >
                        <button type="button" class="btn-circle btn-md fs-2 m-2 "(click)="logRun(0)">0R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2 "(click)="logRun(1)">1R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(2)">2R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(4)">3R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(4)">4R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(5)">5R </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(6)">6R </button>
                        <!-- <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun(6)">any </button> -->
                    </div>
                    <div  class=" py-2 border-top border-bottom text-center" >
                        <button type="button" class="btn-lg px-5 py-2 m-2" (click)="logRun(4)">4 </button>
                        <button type="button" class="btn-lg px-5 py-2 m-2" (click)="logRun(6)">6 </button>
                    </div>
                    <div class=" py-2 border-top border-bottom" >
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun('wd')">wd </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun('nb')">Nb </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun('w')">W </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun('lb')">Lb </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2" (click)="logRun('b')">b </button>
                        <button type="button" class="btn-circle btn-md fs-2 m-2 btn-primary" (click)="logRun('+')"> + </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   