<div class="d-flex justify-content-center align-items-center vh-100 flex-wrap">  
<!-- Live -->
<div class="card border border-primary shadow-0 mb-3 mx-5" style="max-width: 18rem;">
    <div class="card-header">Live</div>
    <div class="card-body text-primary">
        <div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Chatrapati woriers</h5>
                <h5> 89-2 (7)</h5>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Royal Sports</h5>
                <h5> -- </h5>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-success">Royal Sports need 90 Runs in 42 balls</div>
  </div>

<!-- Last Match -->
<div class="card border border-dark mb-3 mx-5" style="max-width: 18rem; min-width: 16rem;">
    <div class="card-header">Last Match</div>
    <div class="card-body">
        <div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Naganath Sports</h5>
                <h5> 59-6 (7)</h5>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">DSK Sports</h5>
                <h5> 55-8 (7) </h5>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-success">Naganath Sports Won by 5 Runs </div>
</div>

<!-- Upcoming Match -->
<div class="card border border-secondary shadow-0 mb-3 mx-5" style="max-width: 18rem; min-width: 18rem;">
    <div class="card-header">Next Match</div>
    <div class="card-body">
        <div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Jay Hanuman Sports</h5>
                <h5> -- </h5>
            </div>
            <div class="d-flex justify-content-between">
                <h5 class="card-title">Pailwan Sports</h5>
                <h5> -- </h5>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent border-success">Today </div>
</div>

</div>