<div class="scoreBox">
    <mat-horizontal-stepper linear #stepper>
        <!-- Step 1: Batting Icon -->
        <mat-step [completed]="isBattingPlayerSelected()">
          <ng-template matStepLabel>
            <mat-icon class="fs-1" color = "warn">sports_cricket</mat-icon> <!-- Batting Icon -->
          </ng-template>
        
          <div class="ptcontainer mt-3" *ngIf="matchTeamData && matchTeamData.selectedmatchTeam1Players.length > 0">
            <h4 class="bg-body-tertiary p-2 border-top border-bottom text-center">Select Batting Player</h4>
            <div class="card mx-2">
              <div>
                <label class="d-flex justify-content-center card-header my-2"> Players </label>
                <div class="d-flex bg-body-tertiary p-2 border-top border-bottom" *ngFor="let player of getBattingTeamPlayers()">
                  <div class="mx-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="player._id"
                      [value]="player"
                      [disabled]="batters.length === 2 && !batters.includes(player)"
                      (change)="onBattingPlayerSelection(player)"
                    />
                  </div>
                  <div>
                    <label [for]="player._id">{{ player.playerName }} {{player.playerSurName}}</label><br />
                  </div>
                </div>
              </div>
            </div>
        </div>   
        <div>
            <button class="text-center btn-success" matStepperNext>Next</button>   
        </div>    
        </mat-step>

        <!-- Step 2: Bowling Icon -->
        <mat-step [completed]="isBowlerSelected()">
          <ng-template matStepLabel>
            <mat-icon>sports_handball</mat-icon> <!-- Bowling Icon -->
          </ng-template>

          <div class="ptcontainer mt-3" *ngIf="matchTeamData && matchTeamData.selectedmatchTeam1Players.length > 0">
            <h4 class="bg-body-tertiary p-2 border-top border-bottom text-center">Select Bowler </h4>
            <div class="card mx-2">
              <div>
                <label class="d-flex justify-content-center card-header my-2"> Players </label>
                <div class="d-flex bg-body-tertiary p-2 border-top border-bottom" *ngFor="let player of getBowlingTeamPlayers()">
                  <div class="mx-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [id]="player._id"
                      [value]="player"
                      [disabled]="bowler.length === 1 && !bowler.includes(player)"
                      (change)="onBowlingPlayerSelection(player)"
                    />
                  </div>
                  <div>
                    <label [for]="player._id">{{ player.playerName }} {{player.playerSurName}}</label><br />
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div>
            <button class="text-center btn-success" matStepperNext>Next</button>   
        </div>        
        </mat-step>

        <!-- Step 3: Score Icon -->
        <mat-step>
          <ng-template matStepLabel>
            <mat-icon>emoji_events</mat-icon> <!-- Score Icon -->
          </ng-template>
          <app-scoreboard></app-scoreboard>
          <h1>Enter Score</h1>
        </mat-step>
      </mat-horizontal-stepper>


</div>