<div class="scoreBox">
    <mat-horizontal-stepper linear #stepper>
        <!-- Step 1: Batting Icon -->
        <mat-step [completed]="isBattingPlayerSelected()">
          <ng-template matStepLabel>
            <mat-icon class="fs-1" color = "warn">sports_cricket</mat-icon> <!-- Batting Icon -->
          </ng-template>
          <!-- Your content for batting player -->
          <h1>Select batting player</h1>
        </mat-step>
      
        <!-- Step 2: Bowling Icon -->
        <mat-step [completed]="isBowlerSelected()">
          <ng-template matStepLabel>
            <mat-icon>sports_handball</mat-icon> <!-- Bowling Icon -->
          </ng-template>
          <!-- Your content for selecting bowler -->
          <h1>Select bowler</h1>
        </mat-step>
      
        <!-- Step 3: Score Icon -->
        <mat-step>
          <ng-template matStepLabel>
            <mat-icon>emoji_events</mat-icon> <!-- Score Icon -->
          </ng-template>
          <!-- Your content for entering score -->
          <h1>Enter Score</h1>
        </mat-step>
      </mat-horizontal-stepper>
      
      
</div>
