<!-- <nav class="navbar navbar-dark bg-dark">
    <button>Live Score</button>
    <button>Teams</button>
    <button>Schedule</button>
    <button>Point Table</button>
  </nav> -->

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Live Score</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="#">Teams</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Point Table</a>
      </li>

    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Schedule</a>
    </li>
  </ul>