

  
<!-- <div *ngIf="!showMatchesList && isBatFirstTeamSelected" class="d-flex justify-content-center align-items-center flex-column">
    <h6 class="bg-body-tertiary p-2 border-top border-bottom">Select Team players </h6>
    <button type="button" class="btn btn-success m-2 " (click)="SelectBatFirstTeam()" [disabled]="!BattingTeam">Continue</button>
    <div class="list-group-item list-group-item-action list-group-item-secondary my-2" >
    <div class="my-2">
        <input class="form-check-input mx-3" type="radio" [id]="'team1_' + selectedMatch?._id" name="selectTeam" [value]="selectedMatch?.team1name" [(ngModel)]="BattingTeam">
        <label [for]="'team1_' + selectedMatch?._id">{{ selectedMatch?.team1name }}</label><br>
      </div>
      <div class="my-2">
        <input class="form-check-input mx-3" type="radio" [id]="'team2_' + selectedMatch?._id" name="selectTeam" [value]="selectedMatch?.team2name" [(ngModel)]="BattingTeam">
        <label [for]="'team2_' + selectedMatch?._id">{{ selectedMatch?.team2name }}</label><br>
      </div>
    </div>
</div> -->

