<div class="scoreBox">
<div class="tab text-center my-4 ">
  <button class="mx-2 p-2" (click)="showComponent('live-score')">Live Score</button>
  <button  class="mx-2 p-2"(click)="showComponent('scorecard')">Scorecard</button>
  <button class="mx-2 p-2"(click)="showComponent('highlights')">Highlights</button>
  <button class="mx-2 p-2"(click)="showComponent('control-panel')">Control Panel</button>
</div>

<!-- <div *ngIf="currentComponent === 'live-score'">
  <app-live-score></app-live-score>
</div> -->
<div *ngIf="currentComponent === 'scorecard'">
  <app-scoreboard></app-scoreboard>
</div>
<div *ngIf="currentComponent === 'highlights'">
  <app-highlight></app-highlight>
</div>
<div *ngIf="currentComponent === 'control-panel'">
  <app-control-panel [matchId]="matchId" [matchTeamId]="matchTeamId"></app-control-panel>
</div>
</div>